<a href="https://colab.research.google.com/github/Aleksandera0o/ML_VVSU/blob/main/lab3/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 3

##Обработка пропущенных значений

Обработайте пропущенные значения:


* Удалите пропущенные значения
* Заполните при помощи медианы, среднего для числовых значений
* Заполните при помощи моды для категориальных значений
* Интерполируйте
Выведите статистку после каждого метода и объясните

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [2]:
import pandas as pd

df = pd.read_csv('/content/Global YouTube Statistics.csv', encoding = "ISO-8859-1")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB

In [3]:
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [4]:
df_clear=df.dropna()
df_clear

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,990,Migos ATL,12400000,6.993406e+09,Music,Migos ATL,99,United States,US,Entertainment,...,100000.0,2012.0,Jan,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [5]:
#Заполнение при помощи медианы
df_median=df.fillna(df.median())
df_median

<ipython-input-5-c67a0d5dda34>:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_median=df.fillna(df.median())

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,200000.0,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [6]:
#Заполнение при помощи среднего
df_mean=df.fillna(df.mean())
df_mean

<ipython-input-6-81ec3c4521ac>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_mean=df.fillna(df.mean())

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2.000000e+06,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,3.490791e+05,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8.000000e+06,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1.000000e+06,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1.000000e+06,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,7.000000e+05,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,3.000000e+05,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1.000000e+03,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,1.000000e+05,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,1.000000e+05,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [7]:
df_mode = pd.DataFrame(columns = df.columns)
for col in df.columns:
  df_mode[col] = df[col].fillna(df[col].mode()[0])
df_mode

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,100000.0,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,Entertainment,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [8]:
#Заполнение при помощи интерполяции
df_inter = df.interpolate(method ='linear')
df_inter

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,5000000.0,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

##Поиск выбросов и аномалий

**Те, кто выполняет задания со * делают поиск выбросов с помощью написанного ранее класса**

Найти выбросы по числовой переменной (использовать метод основанный на среднем и на межквартильном размахе). Объясните результат

Вывести статистику с выбросами и без. Сравните и объясните результат

In [9]:
import math
from statistics import median, mean
import pandas as pd
import numpy as np
import scipy.stats as stats
from sklearn.ensemble import IsolationForest

class Outline:
  def __init__(self, df):
    self.df = df.copy()

  def drop_by_shovene(self, column):
    n = self.df[column].count()
    cnt=0
    result = []
    for elem in self.df[column]:
        mean = self.df[column].mean()
        std = self.df[column].std()
        if math.erfc((abs(elem - mean)) / std) < 1 / (2 * n):
            n -= 1
            result.append(cnt)
        cnt+=1
    if len(result)==1:
      self.df = self.df.drop(index = result[0])
    elif len(result)>1:
      self.df = self.df.drop(index = result)
    return self.df

  def drop_by_quantile(self, column):
      q1 = self.df[column].quantile(0.25)
      q3 = self.df[column].quantile(0.75)
      minimum = q1-1.5*(q3-q1)
      maximum = q3+1.5*(q3-q1)
      return self.df[(self.df[column] >= minimum) & (self.df[column] <= maximum)]

  def delete_outline_by_mean(self, column):
    mean_data = mean(self.df[column])
    maximum = mean_data * 2
    result = []
    cnt = 0
    for item in self.df[column]:
      if abs(item - mean_data) > maximum:
        result.append(cnt)
        cnt+=1
    if len(result)==1:
      self.df = self.df.drop(index = result[0])
    elif len(result)>1:
      self.df = self.df.drop(index = result)
    return self.df

  def drop_by_mean_std(self,column):
      result = []
      cnt =0
      print(self.df[column].mean(),self.df[column].std())
      for elem in self.df[column]:
        mean = self.df[column].mean()
        std = self.df[column].std()
        if abs((elem-mean)/std) >3 :
          result.append(cnt)
        cnt+=1
      if len(result)==1:
        self.df = self.df.drop(index = result[0])
      elif len(result)>1:
        self.df = self.df.drop(index = result)
      return self.df

  def drop_by_two_var(self):
      iso_forest = IsolationForest(n_estimators=10)
      iso_forest.fit(self.df)
      return self.df[iso_forest.predict(self.df)!=-1]

In [13]:
#Методом среднего
test1 = Outline(df)
test1_df_drop = test1.delete_outline_by_mean('subscribers')
test1_df_drop

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
22,23,Pinkfong Baby Shark - Kids' Songs & Stories,68200000,3.884323e+10,Education,Pinkfong Baby Shark - Kids' Songs & Stories,2865,United States,US,Education,...,600000.0,2011.0,Dec,14.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
23,24,Canal KondZilla,66500000,3.677559e+10,Music,Canal KondZilla,2572,Brazil,BR,Music,...,NaN,2012.0,Mar,21.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
24,25,ChuChu TV Nursery Rhymes & Kids Songs,65900000,4.575785e+10,Education,ChuChu TV Nursery Rhymes & Kids Songs,633,India,IN,Education,...,500000.0,2013.0,Feb,9.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
25,26,Shemaroo Filmi Gaane,65600000,2.864802e+10,Music,Shemaroo Filmi Gaane,8502,India,IN,Music,...,400000.0,2010.0,Jun,11.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
26,27,Colors TV,64600000,6.151091e+10,Shows,Colors TV,112915,India,IN,Entertainment,...,1100000.0,2008.0,Jun,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [14]:
#При помощи межквартильного размаха
test1_df_quantile=test1.drop_by_quantile('subscribers')
test1_df_quantile

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
87,88,One Direction,38200000,1.359890e+10,Music,21 Savage,11,United States,US,Music,...,100.0,2016.0,Jun,26.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
88,89,TheEllenShow,38200000,2.275658e+10,Entertainment,TheEllenShow,15672,United States,US,Entertainment,...,NaN,2006.0,Nov,21.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
89,90,Sony PAL,38200000,2.851934e+10,Shows,Sony PAL,24089,India,IN,Entertainment,...,500000.0,2014.0,May,9.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
90,91,Daddy Yankee,38000000,2.273142e+10,Music,Daddy Yankee,505,United States,US,Music,...,100000.0,2011.0,May,16.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
91,92,Vlad vï¿½ï¿½ï,37900000,2.351015e+10,NaN,Vlad vï¿½ï¿½ï,515,United States,US,Entertainment,...,200000.0,2018.0,Jul,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [16]:
#Статистика и объяснение
df.describe()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,995.00000,9.950000e+02,9.950000e+02,995.000000,9.940000e+02,879.000000,962.000000,9.390000e+02,995.000000,9.950000e+02,...,9.950000e+02,6.580000e+02,990.000000,990.000000,872.000000,8.720000e+02,872.000000,8.720000e+02,872.000000,872.000000
mean,498.00000,2.298241e+07,1.103954e+10,9187.125628,5.542489e+05,386.053470,745.719335,1.756103e+08,36886.148281,5.898078e+05,...,7.081814e+06,3.490791e+05,2012.630303,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146
std,287.37606,1.752611e+07,1.411084e+10,34151.352254,1.362782e+06,1232.244746,1944.386561,4.163782e+08,71858.724092,1.148622e+06,...,1.379704e+07,6.143554e+05,4.512503,8.777520,26.106893,4.727947e+08,4.888354,1.546874e+08,20.560533,84.760809
min,1.00000,1.230000e+07,0.000000e+00,0.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,1.000000e+00,1970.000000,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,249.50000,1.450000e+07,4.288145e+09,194.500000,3.230000e+02,11.000000,27.000000,2.013750e+07,2700.000000,4.350000e+04,...,5.217500e+05,1.000000e+05,2009.000000,8.000000,36.300000,8.335541e+07,5.270000,5.590832e+07,20.593684,-95.712891
50%,498.00000,1.770000e+07,7.760820e+09,729.000000,9.155000e+02,51.000000,65.500000,6.408500e+07,13300.000000,2.127000e+05,...,2.600000e+06,2.000000e+05,2013.000000,16.000000,68.000000,3.282395e+08,9.365000,2.706630e+08,37.090240,-51.925280
75%,746.50000,2.460000e+07,1.355470e+10,2667.500000,3.584500e+03,123.000000,139.750000,1.688265e+08,37900.000000,6.068000e+05,...,7.300000e+06,4.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.00000,2.450000e+08,2.280000e+11,301308.000000,4.057944e+06,7741.000000,7741.000000,6.589000e+09,850900.000000,1.360000e+07,...,1.634000e+08,8.000000e+06,2022.000000,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

In [17]:
test1_df_drop.describe()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,973.000000,9.730000e+02,9.730000e+02,973.000000,9.720000e+02,860.000000,941.000000,9.190000e+02,973.000000,9.730000e+02,...,9.730000e+02,6.440000e+02,968.000000,968.000000,853.000000,8.530000e+02,853.000000,8.530000e+02,853.000000,853.000000
mean,509.000000,2.099538e+07,9.921905e+09,8954.168551,5.419123e+05,372.745349,735.430393,1.629692e+08,33832.803227,5.410358e+05,...,6.495586e+06,3.279411e+05,2012.680785,15.741736,63.503634,4.286499e+08,9.300223,2.237155e+08,26.429339,-14.726445
std,281.025206,9.683738e+06,8.409462e+09,34013.207411,1.348830e+06,1193.498150,1928.772394,3.969795e+08,63878.701873,1.021352e+06,...,1.226515e+07,5.341603e+05,4.499381,8.787002,26.088940,4.714266e+08,4.885721,1.544751e+08,20.668294,84.342747
min,23.000000,1.230000e+07,0.000000e+00,0.000000,1.000000e+01,1.000000,1.000000,1.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,1.000000e+00,1970.000000,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,266.000000,1.450000e+07,4.266957e+09,195.000000,3.435000e+02,12.000000,28.000000,1.987600e+07,2700.000000,4.360000e+04,...,5.226000e+05,1.000000e+05,2009.000000,8.000000,36.300000,8.342962e+07,5.360000,5.590832e+07,20.593684,-95.712891
50%,509.000000,1.760000e+07,7.634430e+09,724.000000,9.455000e+02,52.500000,67.000000,6.329300e+07,13100.000000,2.093000e+05,...,2.500000e+06,2.000000e+05,2013.000000,16.000000,68.000000,3.282395e+08,9.710000,2.706630e+08,37.090240,-51.925280
75%,752.000000,2.400000e+07,1.312465e+10,2572.000000,3.573500e+03,123.000000,140.000000,1.612895e+08,36400.000000,5.819000e+05,...,7.000000e+06,4.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.000000,6.820000e+07,6.151091e+10,301308.000000,4.057944e+06,7741.000000,7741.000000,6.589000e+09,850900.000000,1.360000e+07,...,1.634000e+08,6.700000e+06,2022.000000,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

In [18]:

test1_df_quantile.describe()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,908.00000,9.080000e+02,9.080000e+02,908.000000,9.070000e+02,803.000000,879.000000,8.560000e+02,908.000000,9.080000e+02,...,9.080000e+02,5.910000e+02,903.000000,903.000000,796.000000,7.960000e+02,796.000000,7.960000e+02,796.000000,796.000000
mean,541.50000,1.905341e+07,8.790016e+09,8238.639868,5.322527e+05,381.478207,729.235495,1.536962e+08,31365.661189,5.016900e+05,...,6.021532e+06,3.219831e+05,2012.807309,15.795127,64.023116,4.220007e+08,9.357839,2.224497e+08,26.681532,-15.140364
std,262.26132,6.246839e+06,6.579738e+09,32188.054991,1.337300e+06,1206.071339,1917.008228,3.993089e+08,61371.260268,9.814579e+05,...,1.178311e+07,5.478523e+05,4.496669,8.797242,25.959946,4.655425e+08,4.889510,1.532500e+08,20.665841,84.429715
min,88.00000,1.230000e+07,0.000000e+00,0.000000,1.400000e+01,1.000000,1.000000,1.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,1.000000e+00,1970.000000,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,314.75000,1.437500e+07,4.048378e+09,196.750000,3.835000e+02,14.000000,33.000000,1.841800e+07,2700.000000,4.335000e+04,...,5.201750e+05,1.000000e+05,2010.000000,8.000000,36.300000,8.313280e+07,5.270000,5.590832e+07,20.593684,-95.712891
50%,541.50000,1.690000e+07,7.209981e+09,719.000000,1.029000e+03,64.000000,74.000000,5.885050e+07,12350.000000,1.968000e+05,...,2.400000e+06,1.000000e+05,2013.000000,16.000000,68.450000,3.282395e+08,9.710000,2.706630e+08,37.090240,-51.925280
75%,768.25000,2.242500e+07,1.169762e+10,2385.500000,3.748000e+03,125.000000,142.000000,1.493165e+08,33925.000000,5.428000e+05,...,6.500000e+06,3.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.00000,3.820000e+07,5.610609e+10,301308.000000,4.057944e+06,7741.000000,7741.000000,6.589000e+09,850900.000000,1.360000e+07,...,1.634000e+08,6.700000e+06,2022.000000,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

**Объяснения**
При удалении аномалий у нас уменшилось кол-во просмотров так как каналы у которых много подписчиков(они аномальны) у них много просмотров и из-за этого при удалении средние уменшились

##Дубликаты

Проверьте датафрейм на дубликаты и удалите их, если дублей нет - создайте.

In [21]:
#Проверка на дубли
df[df.duplicated()]

Empty DataFrame
Columns: [rank, Youtuber, subscribers, video views, category, Title, uploads, Country, Abbreviation, channel_type, video_views_rank, country_rank, channel_type_rank, video_views_for_the_last_30_days, lowest_monthly_earnings, highest_monthly_earnings, lowest_yearly_earnings, highest_yearly_earnings, subscribers_for_last_30_days, created_year, created_month, created_date, Gross tertiary education enrollment (%), Population, Unemployment rate, Urban_population, Latitude, Longitude]
Index: []

[0 rows x 28 columns]

In [30]:
df.loc[len(df)] = df.loc[0]

In [31]:
df[df.duplicated()]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
995,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
996,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
997,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
998,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288
999,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.96288

In [32]:
#Удаление дублей
df=df.drop_duplicates()
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

## Преобразование признаков

Масштабируйте числовые признаки через MinMaxScaler, StandardScaler

In [37]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Creating instances
min_max_scaler = MinMaxScaler()
standard_scaler = StandardScaler()
num_col = df.select_dtypes(include=['float64']).columns
df_minmax_scaled = df.copy()
df_minmax_scaled[num_col] = min_max_scaler.fit_transform(df[num_col])
df_minmax_scaled.subscribers.unique()

array([245000000, 170000000, 166000000, 162000000, 159000000, 119000000,
       112000000, 111000000, 106000000,  98900000,  96700000,  96000000,
        93600000,  89800000,  86900000,  83000000,  80100000,  75600000,
        75000000,  71600000,  71300000,  70500000,  68200000,  66500000,
        65900000,  65600000,  64600000,  61000000,  59500000,  59300000,
        58400000,  58000000,  57600000,  57200000,  56900000,  56400000,
        54600000,  54000000,  53500000,  53300000,  52900000,  52700000,
        52200000,  48100000,  47900000,  47500000,  47400000,  46800000,
        46600000,  46300000,  46100000,  45500000,  45200000,  44700000,
        44600000,  44500000,  44200000,  43700000,  43600000,  43500000,
        43200000,  42500000,  42400000,  41900000,  41400000,  41300000,
        40900000,  40600000,  40400000,  40300000,  39700000,  39400000,
        39200000,  39100000,  39000000,  38900000,  38600000,  38400000,
        38300000,  38200000,  38000000,  37900000,  37600000,  37500000,
        37200000,  37000000,  36700000,  36600000,  36500000,  36300000,
        36200000,  36100000,  35700000,  35500000,  35400000,  35200000,
        34900000,  34600000,  34400000,  34300000,  34100000,  34000000,
        33800000,  33700000,  33600000,  33500000,  33400000,  33300000,
        32800000,  32700000,  32600000,  32200000,  32100000,  32000000,
        31900000,  31800000,  31700000,  31600000,  31400000,  31200000,
        30700000,  30500000,  30400000,  30300000,  30200000,  30100000,
        30000000,  29800000,  29600000,  29300000,  29200000,  29000000,
        28900000,  28500000,  28400000,  28300000,  28200000,  28100000,
        28000000,  27800000,  27700000,  27500000,  27400000,  27300000,
        27100000,  27000000,  26900000,  26700000,  26500000,  26400000,
        26300000,  26200000,  26100000,  26000000,  25900000,  25800000,
        25700000,  25600000,  25500000,  25400000,  25300000,  25200000,
        25100000,  25000000,  24800000,  24700000,  24600000,  24500000,
        24400000,  24300000,  24200000,  24100000,  24000000,  23900000,
        23800000,  23700000,  23600000,  23500000,  23400000,  23300000,
        23200000,  23100000,  23000000,  22900000,  22800000,  22700000,
        22600000,  22500000,  22400000,  22300000,  22200000,  22000000,
        21900000,  21800000,  21700000,  21600000,  21500000,  21400000,
        21300000,  21200000,  21100000,  21000000,  20900000,  20800000,
        20700000,  20600000,  20500000,  20400000,  20300000,  20200000,
        20100000,  20000000,  19900000,  19800000,  19700000,  19600000,
        19500000,  19400000,  19300000,  19200000,  19100000,  19000000,
        18900000,  18800000,  18700000,  18600000,  18500000,  18400000,
        18300000,  18200000,  18100000,  18000000,  17900000,  17800000,
        17700000,  17600000,  17500000,  17400000,  17300000,  17200000,
        17100000,  17000000,  16900000,  16800000,  16700000,  16600000,
        16500000,  16400000,  16300000,  16200000,  16100000,  16000000,
        15900000,  15800000,  15700000,  15600000,  15500000,  15400000,
        15300000,  15200000,  15100000,  15000000,  14900000,  14800000,
        14700000,  14600000,  14500000,  14400000,  14300000,  14200000,
        14100000,  14000000,  13900000,  13800000,  13700000,  13600000,
        13500000,  13400000,  13300000,  13200000,  13100000,  13000000,
        12900000,  12800000,  12700000,  12600000,  12500000,  12400000,
        12300000])

In [39]:
standard_scaler = StandardScaler()
df_standard_scaler = df.copy()
df_standard_scaler[num_col] = standard_scaler.fit_transform(df[num_col])
df_standard_scaler.subscribers.unique()

array([245000000, 170000000, 166000000, 162000000, 159000000, 119000000,
       112000000, 111000000, 106000000,  98900000,  96700000,  96000000,
        93600000,  89800000,  86900000,  83000000,  80100000,  75600000,
        75000000,  71600000,  71300000,  70500000,  68200000,  66500000,
        65900000,  65600000,  64600000,  61000000,  59500000,  59300000,
        58400000,  58000000,  57600000,  57200000,  56900000,  56400000,
        54600000,  54000000,  53500000,  53300000,  52900000,  52700000,
        52200000,  48100000,  47900000,  47500000,  47400000,  46800000,
        46600000,  46300000,  46100000,  45500000,  45200000,  44700000,
        44600000,  44500000,  44200000,  43700000,  43600000,  43500000,
        43200000,  42500000,  42400000,  41900000,  41400000,  41300000,
        40900000,  40600000,  40400000,  40300000,  39700000,  39400000,
        39200000,  39100000,  39000000,  38900000,  38600000,  38400000,
        38300000,  38200000,  38000000,  37900000,  37600000,  37500000,
        37200000,  37000000,  36700000,  36600000,  36500000,  36300000,
        36200000,  36100000,  35700000,  35500000,  35400000,  35200000,
        34900000,  34600000,  34400000,  34300000,  34100000,  34000000,
        33800000,  33700000,  33600000,  33500000,  33400000,  33300000,
        32800000,  32700000,  32600000,  32200000,  32100000,  32000000,
        31900000,  31800000,  31700000,  31600000,  31400000,  31200000,
        30700000,  30500000,  30400000,  30300000,  30200000,  30100000,
        30000000,  29800000,  29600000,  29300000,  29200000,  29000000,
        28900000,  28500000,  28400000,  28300000,  28200000,  28100000,
        28000000,  27800000,  27700000,  27500000,  27400000,  27300000,
        27100000,  27000000,  26900000,  26700000,  26500000,  26400000,
        26300000,  26200000,  26100000,  26000000,  25900000,  25800000,
        25700000,  25600000,  25500000,  25400000,  25300000,  25200000,
        25100000,  25000000,  24800000,  24700000,  24600000,  24500000,
        24400000,  24300000,  24200000,  24100000,  24000000,  23900000,
        23800000,  23700000,  23600000,  23500000,  23400000,  23300000,
        23200000,  23100000,  23000000,  22900000,  22800000,  22700000,
        22600000,  22500000,  22400000,  22300000,  22200000,  22000000,
        21900000,  21800000,  21700000,  21600000,  21500000,  21400000,
        21300000,  21200000,  21100000,  21000000,  20900000,  20800000,
        20700000,  20600000,  20500000,  20400000,  20300000,  20200000,
        20100000,  20000000,  19900000,  19800000,  19700000,  19600000,
        19500000,  19400000,  19300000,  19200000,  19100000,  19000000,
        18900000,  18800000,  18700000,  18600000,  18500000,  18400000,
        18300000,  18200000,  18100000,  18000000,  17900000,  17800000,
        17700000,  17600000,  17500000,  17400000,  17300000,  17200000,
        17100000,  17000000,  16900000,  16800000,  16700000,  16600000,
        16500000,  16400000,  16300000,  16200000,  16100000,  16000000,
        15900000,  15800000,  15700000,  15600000,  15500000,  15400000,
        15300000,  15200000,  15100000,  15000000,  14900000,  14800000,
        14700000,  14600000,  14500000,  14400000,  14300000,  14200000,
        14100000,  14000000,  13900000,  13800000,  13700000,  13600000,
        13500000,  13400000,  13300000,  13200000,  13100000,  13000000,
        12900000,  12800000,  12700000,  12600000,  12500000,  12400000,
        12300000])

Масштабируйте категориальные признаки через OneHotEncoder

In [41]:
from sklearn.preprocessing import OneHotEncoder
df.category = df.category.astype('category')
df.Country	 = df.Country	.astype('category')
category_col = df.select_dtypes(include=['category']).columns
encoder = OneHotEncoder()
df_cat_encoded = pd.get_dummies(df, columns=category_col, drop_first=True)
encoded_features = encoder.fit_transform(df[category_col])
encoded_columns = encoder.get_feature_names_out(category_col)
encoded_columns

<ipython-input-41-19ea5b9fa359>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.category = df.category.astype('category')
<ipython-input-41-19ea5b9fa359>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Country	 = df.Country	.astype('category')

array(['category_Autos & Vehicles', 'category_Comedy',
       'category_Education', 'category_Entertainment',
       'category_Film & Animation', 'category_Gaming',
       'category_Howto & Style', 'category_Movies', 'category_Music',
       'category_News & Politics', 'category_Nonprofits & Activism',
       'category_People & Blogs', 'category_Pets & Animals',
       'category_Science & Technology', 'category_Shows',
       'category_Sports', 'category_Trailers', 'category_Travel & Events',
       'category_nan', 'Country_Afghanistan', 'Country_Andorra',
       'Country_Argentina', 'Country_Australia', 'Country_Bangladesh',
       'Country_Barbados', 'Country_Brazil', 'Country_Canada',
       'Country_Chile', 'Country_China', 'Country_Colombia',
       'Country_Cuba', 'Country_Ecuador', 'Country_Egypt',
       'Country_El Salvador', 'Country_Finland', 'Country_France',
       'Country_Germany', 'Country_India', 'Country_Indonesia',
       'Country_Iraq', 'Country_Italy', 'Country_Japan', 'Country_Jordan',
       'Country_Kuwait', 'Country_Latvia', 'Country_Malaysia',
       'Country_Mexico', 'Country_Morocco', 'Country_Netherlands',
       'Country_Pakistan', 'Country_Peru', 'Country_Philippines',
       'Country_Russia', 'Country_Samoa', 'Country_Saudi Arabia',
       'Country_Singapore', 'Country_South Korea', 'Country_Spain',
       'Country_Sweden', 'Country_Switzerland', 'Country_Thailand',
       'Country_Turkey', 'Country_Ukraine',
       'Country_United Arab Emirates', 'Country_United Kingdom',
       'Country_United States', 'Country_Venezuela', 'Country_Vietnam',
       'Country_nan'], dtype=object)

In [42]:
df_cat_encoded

,rank,Youtuber,subscribers,video views,Title,uploads,Abbreviation,channel_type,video_views_rank,country_rank,...,Country_Sweden,Country_Switzerland,Country_Thailand,Country_Turkey,Country_Ukraine,Country_United Arab Emirates,Country_United Kingdom,Country_United States,Country_Venezuela,Country_Vietnam
0,1,T-Series,245000000,2.280000e+11,T-Series,20082,IN,Music,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,2,YouTube Movies,170000000,0.000000e+00,youtubemovies,1,US,Games,4055159.0,7670.0,...,0,0,0,0,0,0,0,1,0,0
2,3,MrBeast,166000000,2.836884e+10,MrBeast,741,US,Entertainment,48.0,1.0,...,0,0,0,0,0,0,0,1,0,0
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Cocomelon - Nursery Rhymes,966,US,Education,2.0,2.0,...,0,0,0,0,0,0,0,1,0,0
4,5,SET India,159000000,1.480000e+11,SET India,116536,IN,Entertainment,3.0,2.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Natan por Aï¿,1200,BR,Entertainment,525.0,55.0,...,0,0,0,0,0,0,0,0,0,0
991,992,Free Fire India Official,12300000,1.674410e+09,Free Fire India Official,1500,IN,Games,6141.0,125.0,...,0,0,0,0,0,0,0,0,0,0
992,993,Panda,12300000,2.214684e+09,HybridPanda,2452,GB,Games,129005.0,867.0,...,0,0,0,0,0,0,1,0,0,0
993,994,RobTopGames,12300000,3.741235e+08,RobTopGames,39,SE,Games,35112.0,4.0,...,1,0,0,0,0,0,0,0,0,0
994,995,Make Joke Of,12300000,2.129774e+09,Make Joke Of,62,IN,Comedy,4568.0,125.0,...,0,0,0,0,0,0,0,0,0,0

##Задание для гениев*


Реализовать расчет корреляции Спирмана

###Пример реализации

In [ ]:
import pandas as pd
import numpy as np


def corr_pearson(column_1, column_2):
  cov = np.cov(column_1, column_2)
  return cov/(column_1.std() * column_2.std())

In [ ]:
data = {
    'Рост': [170, 155, 180, 162, 175],
    'Вес': [65, 50, 75, 55, 70]
}
df = pd.DataFrame(data)
df

   Рост  Вес
0   170   65
1   155   50
2   180   75
3   162   55
4   175   70

In [ ]:
corr_pearson(df["Рост"], df["Вес"])

array([[0.96593129, 0.99674864],
       [0.99674864, 1.03527033]])